<!DOCTYPE html>
<html>
<head>
  <title>MySQL Tables</title>
</head>
<body>
  <h1>Available Tables</h1>
  <ul>
    <% tables.forEach(t => { %>
      <li><%= Object.values(t)[0] %></li>
    <% }) %>
  </ul>
  <a href="/users">View Users Table</a>
</body>
</html>

  }
});

app.listen(port, () => {
  console.log(`🚀 Web App running at http://localhost:${port}`);
});
